<div class="recipe-box-container">
  <ul class="recipe-card">
    <form ng-submit="createNewRecipe()" name="newRecipe" method="POST">
    <span class="tab">
      <input ng-required="true" ng-model="recipe.name" type="text" value="{{recipe.name}}"></input>
    </span>
      <li class="recipe-line"></li>

      <li class="recipe-line yield">
        <h4>Serves: </h4>
        <input ng-required="true" ng-model="recipe.yield" class="quantity" type="number" value="{{recipe.yield}}"></input>
      </li>

      <li class="recipe-line"></li>

      <li class="recipe-line">
        <h4>Ingredients:</h4>
      </li>

      <ul class="ingredients">
        <li ng-repeat="ingredient in recipe.ingredients track by $index" class="recipe-line ingredient">
          <input ng-required="true" ng-model="ingredient.quantity" class="quantity" type="number" value="{{ingredient.quantity}}"></input>
          <select class="select" ng-model="ingredient.measure" ng-options="opt for opt in ['Tsp', 'Tbsp', 'Cups', 'Ounces']" type="select" required>
            <option value=''>Measurement</option>
            <option></option>
          </select>
          <input title="Press enter to add another ingredient" ng-required="true" ng-model="ingredient.name" ng-keydown="newIngredient($event)" class="text" type="text" value="{{ingredient.name}}" placeholder="Ingredient"></input>
        </li>
      </ul>

      <li class="recipe-line"></li>

      <li class="recipe-line">
        <h4>Directions:</h4>
      </li>

      <ol class="recipe-directions">
        <li ng-repeat="direction in recipe.instructions track by $index" class="recipe-line steps">
          <input title="Press enter to add another step" ng-keydown="newDirection($event)" ng-model="direction.Step" class="step" type="text" placeholder="Step..." value="{{direction.Step}}"></input>
        </li>
      </ol>

      <li class="recipe-line"></li>
    <li class="recipe-line">
    <input type="submit" name="name" value="Share Your Recipe"></input>
    </li>
    </form>
  </ul>
  <h1>Create A New Recipe</h1>
</div>
