<div class="recipe-box-container">
  <ul ng-cloak="true" class="recipe-card">
    <span class="tab">
      <input ng-model="recipe.name" type="text">{{recipe.name}}</input>
    </span>
    <form ng-submit="createNewRecipe()" name="new-recipe" method="POST">
      <li class="recipe-line"></li>

      <li class="recipe-line yield">
        <h4>Serves: </h4>
        <input ng-model="recipe.yield" class="quantity" type="number" value="{{recipe.yield}}"></input>
      </li>

      <li class="recipe-line"></li>

      <li class="recipe-line">
        <h4>Ingredients:</h4>
      </li>

      <ul class="ingredients">
        <li ng-repeat="ingredient in recipe.ingredients" class="recipe-line ingredient">
          <input ng-model="ingredient.quantity" class="quantity" type="number" value="{{ingredient.quantity}}"></input>
          <select ng-model="ingredient.measure" class="select" type="select">
            <option selected disabled>Measurement</option>
            <option>Tsp</option>
            <option>Tbsp</option>
            <option>Cups</option>
            <option>Ounces</option>
          </select>
          <input ng-model="ingredient.name" ng-keydown="newLine($event)" class="text" type="text" value="{{ingredient.name}}"></input>
        </li>
      </ul>

      <li class="recipe-line"></li>

      <li class="recipe-line">
        <h4>Directions:</h4>
      </li>

      <ol class="recipe-directions">
        <li ng-repeat="direction in recipe.instructions" class="recipe-line steps">
          <input ng-model="direction.Step" class="step" type="text" placeholder="step" value="{{direction.Step}}"></input>
        </li>
      </ol>

      <li class="recipe-line"></li>

    </form>
  </ul>
  <h1>Create A New Recipe</h1>
</div>
