<div class="search-container">

  <aside class="forms search-input-container">
    <span class="tab"><h4>Search</h4></span>
    <input ng-model="search.input" type="text" value="Search"></input>
    <input ng-click="searchForRecipes(search.input)" type="button" value="Search Recipes"></input>
  </aside>


  <div class="results-container">
     <section ng-repeat="result in results" class="result">
       <ul class="recipe-card">
         <span class="tab">
           <input type="text" value="{{result.name}}"></input>
         </span>
         <form name="new-recipe" method="POST">
           <li class="recipe-line"></li>

           <li class="recipe-line yield">
             <h4>Serves: </h4>
             <input class="quantity" type="number" value="{{result.yield}}"></input>
           </li>

           <li class="recipe-line"></li>

           <li class="recipe-line">
             <h4>Ingredients:</h4>
           </li>

           <ul class="ingredients">
             <li ng-repeat="ingredient in result.ingredients" class="recipe-line ingredient">
               <input class="quantity" type="number" value="{{ingredient.quantity}}"></input>
               <select class="select" type="select">
                 <option selected disabled>Measurement</option>
                 <option>Tsp</option>
                 <option>Tbsp</option>
                 <option>Cups</option>
                 <option>Ounces</option>
               </select>
               <input class="text" type="text" value="{{ingredient.name}}"></input>
             </li>
           </ul>

           <li class="recipe-line"></li>

           <li class="recipe-line">
             <h4>Directions:</h4>
           </li>

           <ol class="recipe-directions">
             <li ng-repeat="direction in result.instructions" class="recipe-line steps">
               <input class="step" type="text" placeholder="step" value="{{direction.Step}}"></input>
             </li>
           </ol>

           <li class="recipe-line"></li>

         </form>
       </ul>
     </section>
  </div>
</div>
