@import 'partials/setup/reset';
@import 'bourbon/bourbon';
@import 'partials/animations';
@import 'partials/mixins';
@import 'partials/recipe-card';
@import 'partials/recipe-box';
@import 'partials/forms';
@import 'partials/search';

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 25px;
}

body {
  min-height: 100vh;
  &::before {
    position: fixed;
    content: '';
    background: url("../images/background/food.png");
    min-height: 100vh;
    width: 100vw;
    filter: saturate(10%) hue-rotate(115deg);
    @include animation(scroll 30s linear infinite);
  }
}
